.radio {
  position: relative;
  width: initial;
  height: initial;
  float: left;
  margin-bottom: 5px;
  margin-right: 12px;
  cursor: pointer;
  &:last-child {
    margin-right: 0px;
  }
  &:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    float: left;
    content: "";
    border: 1px solid #7a7a7a;
    border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    display: none;
  }
  input {
    @include opacity(0);
  }

  i {
    position: absolute;
    float: left;
    left: 3px;
    top: 3px;
    width: 9px;
    height: 9px;
    background: #e5e5e5;
    border-radius: 50% 50% 50% 50%;
    span {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 9px;
      height: 9px;
      background: transparent;
      @include border-radius(50%, 50%, 50%, 50%);
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%); /* IE 9 */
      -webkit-transform: translate(-50%, -50%); /* Safari prior 9.0 */
      -moz-transform: translate(-50%, -50%); /* Standard syntax */
      z-index: 1;
    }

    &:after {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%); /* IE 9 */
      -webkit-transform: translate(-50%, -50%); /* Safari prior 9.0 */
      -moz-transform: translate(-50%, -50%); /* Standard syntax */
      width: 14px;
      height: 14px;
      float: left;
      content: "";
      border: 1px solid #7a7a7a;
      border-radius: 50% 50% 50% 50%;
      -webkit-border-radius: 50% 50% 50% 50%;
      -moz-border-radius: 50% 50% 50% 50%;
      // transition: all 0.3s linear;
      background-image: linear-gradient(to top, #ffffff, #ffffff);
      box-shadow: 0 1px 1px 0 rgba(22, 29, 37, 0.05),
        inset 0 2px 0 0 rgba(255, 255, 255, 0.05);
    }
  }

  input:checked + i {
    span {
      background: $color-success;
    }
    &:after {
      border: 1px solid $color-success;
      background: $color-white;
      box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.1),
        inset 0 2px 0 0 rgba(255, 255, 255, 0.06);
    }
  }
  .labl-txt {
    margin-left: 9px;
    color: $color-base;
    font-size: $fs-14;
  }
  input:checked + i + .labl-txt {
    color: $color-base;
  }

  &.size-large {
    width: 18px;
    height: 18px;
    &:before {
      width: 14px;
      height: 14px;
      border-width: 2px;
    }
    i {
      left: 5px;
      top: 5px;
    }
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .radio {
      top: 2px;
    }
  }
}
