.color-base {
  color: $color-base !important;
}
.color-text {
  color: $color-text;
}
.color-primary {
  color: $color-primary !important;
}
.color-secondary {
  color: $color-secondary !important;
}

.color-white {
  color: $color-white !important;
}

.color-error {
  color: #e31837;
}
.color-success {
  color: #38af00;
}
.color-green {
  color: $color-green;
}
.color-dark-green {
  color: $color-green-dark;
}

.color-grey {
  color: $color-grey;
}
.color-slaty {
  color: $color-slaty;
}
.color-light-grey {
  color: $color-grey-light;
}
.color-black {
  color: $color-black;
}
